.price-range-container {
  position: relative;
  height: 100%;
  width: 100%;

  .price-range-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;

    .price-range-value {
      font-size: 14px;
      color: #01042a;
      width: max-content;
      margin: 8px 0;
    }
  }

  .price-range-form-container {
    width: 260px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 70px;
    left: -35px;
    background-color: #fff;
    padding: 16px;
    box-shadow: 0px 4px 8px rgba(16, 35, 64, 0.2);
    border-radius: 8px;
    z-index: 1000;

    .price-range-form-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price-range-form-input {
        width: 100px;

        .input-filed-variant {
          max-width: 100px;
        }
      }
    }

    .price-range-form-suggestion-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 12px;

      .price-range-form-suggestion-item {
        width: 100%;
        margin-bottom: 16px;
        cursor: pointer;

        &:last-child {
          margin-bottom: 0;
        }

        p {
          color: rgb(1, 4, 42);
          font-size: 16px;
        }
      }
    }
  }
}
